/*ESTILO GENERAL*/

#contenedor-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*ESTILO BARRA DE NAVEGACION*/


#icono-inicio{
    position: initial;
    color: white;
    font-size: 50px;
    margin-right: 20px;
}

#icono-inicio:hover{
    box-shadow: inset 0px 0px 4px black;
}

/*ESTILO DE MENU DE EDICION*/
#menu-edicion{
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background: linear-gradient(rgb(182, 136, 182),  rgb(117, 15, 117)) ;
    
}
#menu-edicion p{
   
    font-size: 22px;
    margin: 5px;
    font-family: fantasy;
}

#menu-edicion ul li{
    margin: 10px;
    text-align: initial;
    
}

.opcion-edicion{
   
    text-decoration: none;
    padding: 2px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*ESTILO DE FORMULARIOS*/
#contenedor-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgb(94, 10, 94);
    border-radius: 5px;
}
#registro{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

ul li{
    position: relative;
    list-style-type: none; ;
    margin: 50px 0px 50px 0px;
    font-size: 20px;
    color: rgb(94, 10, 94);
    width: 100%;
    text-align: center;
    
}
.material-symbols-outlined{
    position: absolute;
    left: 0;
    bottom: 8px;
    
}
.input{
    display: block;
    border: none;
    border-bottom: 2px solid rgb(94, 10, 94);
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.form-button{
    
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}
.but-enviar{
    width: 500px;
    background-color: rgb(16, 159, 16);
}
.but-borrar{
    width: 250px;
    background-color: red;
}



/*PANTALLA MENOS A 565 px*/
@media screen and (width < 565px){

    #nav-bar{
        justify-content: flex-start;
    }
    #menu-edicion{
        width:325px
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 5px;
        max-width: 100%;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
        border: none;
       
    }
    .input{
        display: block;
        border: none;
        border-bottom: 2px solid rgb(94, 10, 94);
        width: 325px;
        height: 40px;
        text-align: center;
        font-size: 16px;
    }
   .form-button{
        width: 325px;
    }
}