#contenedor{
    justify-content: center;
    align-items: center;
}
#nav-bar{
    display: flex;
    align-items: center;
    height: 120px;
    background-color: rgb(94, 10, 94);
    
}


#boton-perfil{
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    background-color: rgb(144, 135, 135)
}
#boton-perfil:hover{
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.163);
}
.material-symbols-outlined{
    font-size: 40px;
    color: white;
    margin-left: 20px;

}

#dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: rgb(182, 179, 179);
    background-color: white;
    border-radius: 5px;
    margin: 0px 100px 0px 100px;

}

#contenedor-izquierdo{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenedor-derecho{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: start;
    align-items: center;
}
.contador{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-style:italic;
    width: 180px;
    height: 180px;
    background-color: green;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 1px 10px rgb(41, 40, 40);
    background-color: white;
}
.numerico{

    font-size: 30px;
    font-family:fantasy;
}
.dashboard-item{
    width: 20%;
    margin: 8px;
    border-radius: 5px;
    height: 300px;
    min-width: 300px;
    box-shadow: 2px 1px 10px rgb(41, 40, 40);
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.dashboard-item:nth-child(1){
    justify-self: flex-start;
}
.dashboard-item img{
    max-width: 100%;
    height: 250px;
}
#ventas{
    border: 1px solid rgb(151, 25, 25);
    width: 90%;
    border-radius: 5px;
}
#ventas tr td{
    border: 1px solid rgb(142, 25, 25);
}
.producto{
    background-color: aqua;
}
.nro-ventas{
    background-color: blueviolet;
}


@media screen and (width < 1140px) {
    #contenedor{
        justify-content:start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #dashboard{
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }
    #contenedor-derecho{
        width: 100%;
        justify-content: center;
    }

    #contenedor-izquierdo{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}