/*estilos barra de navegacion*/

#icono-perfil{
    position: initial;
    color: white;
    font-size: 50px;
    margin-right: 20px;
}
#icono-perfil:hover{
    box-shadow: inset 0px 0px 4px black;
}


/*ESTILOS DASHBOARD*/

#contenedor-dash{
    justify-content: center;
    align-items: center;
}


#dashboard{
    display: flex;
    flex-wrap:nowrap;
    justify-content:center;
    align-items: center;
    background-color: rgb(182, 179, 179);
    background-color: white;
    border-radius: 5px;
    margin: 0px 100px 0px 100px;

}

#contenedor-izquierdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenedor-derecho{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
}
.contador{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-style:italic;
    width: 180px;
    height: 180px;
    background-color: green;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 2px 1px 10px rgb(41, 40, 40);
    background-color: white;
}
.numerico{

    font-size: 30px;
    font-family:fantasy;
}
.dashboard-item{
    width: 20%;
    margin: 8px;
    border-radius: 5px;
    height: 300px;
    min-width: 300px;
    box-shadow: 2px 1px 10px rgb(41, 40, 40);
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    
}

.dashboard-item img{
    max-width: 100%;
    /*250*/
    height:calc(100% - 20px); 
}
#ventas{
    
    width: 90%;
    border-radius: 5px;
    height:calc(100% - 16px); 
}

.producto{
    background-color: aqua;
}
.nro-ventas{
    background-color: blueviolet;
}

/* PANTALLA MENOR A 1140 PX */
@media screen and (width < 1145px) {

    /*ESTILOS DASHBOARD*/

    #nav-bar{
        justify-content: flex-start;
    }
    #contenedor-dash{
        justify-content:start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #dashboard{
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }
    #contenedor-derecho{
        width: 100%;
        justify-content: center;
    }

    #contenedor-izquierdo{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
   
    
}